<article>
  <a href="{{ product.url | within: collection }}">
    <div class="relative swiper swiper-{{- product.id -}}">
      <div class="swiper-wrapper">
        {% for image in product.images %}
        <div class="swiper-slide">
          <img
            src="{{ image.src | img_url: 'master' }}"
            alt="{{ image.alt | escape }}"
            class="swiper-image-{{- image.id -}}"
          />
        </div>
        {% endfor %}
      </div>
      <span
        class="absolute top-0 right-0 w-1/4 h-full mt-0 outline-none shadow-none border-transparent text-gray-400 hover:text-gray-700 transition-colors swiper-button-next swiper-button-next-{{- product.id -}}"
      ></span>
      <span
        class="absolute top-0 left-0 w-1/4 h-full mt-0 outline-none shadow-none border-transparent text-gray-400 hover:text-gray-700 transition-colors swiper-button-prev swiper-button-prev-{{- product.id -}}"
      ></span>
    </div>
  </a>

  <a href="{{ product.url | within: collection }}">
    <h3 class="font-medium">{{ product.title | upcase }}</h3>
  </a>
  <p class="my-2 font-medium">{{ product.price | money }}</p>
  <div class="relative">
    <details>
      <summary class="list-none font-light hover:text-gray-700 transition-all cursor-pointer w-1/4">Sizes</summary>
      <p class="font-light text-sm pl-3">
        {% for size_option in product.options_by_name['Size'].values %}
        {{ size_option }}{% unless forloop.last %} / {% endunless %} {% endfor %}
      </p>
    </details>
    <details>
      <summary class="list-none font-light hover:text-gray-700 transition-all cursor-pointer w-1/4">Colors</summary>
      <p class="font-light text-sm pl-3">
        {% for color_option in product.options_by_name['Color'].values %}
        {{ color_option }}{% unless forloop.last %} / {% endunless %} {% endfor %}
      </p>
    </details>
    <button class="px-4 py-2 border border-gray-700 bg-transparent hover:bg-gray-700 hover:text-white transition-all absolute bottom-0 right-0 z-10">
      <span>Add to cart</span>
    </button>
  </div>
</article>

<script>
  new Swiper(".swiper-{{- product.id -}}", {
    slidesPerView: 1,
    centeredSlides: true,
    spaceBetween: 0,
    loop: true,

    breakpoints: {
      600: {
        allowTouchMove: false,
        speed: 0,
        navigation: {
          nextEl: ".swiper-button-next-{{- product.id -}}",
          prevEl: ".swiper-button-prev-{{- product.id -}}",
        },
      },
    },
  });
</script>
