{% assign current_variant = product.selected_or_first_available_variant %} {%
assign featured_image = current_variant.featured_image | default:
product.featured_image %}

<div class="grid grid-cols-1 md:grid-cols-2 px-6 pt-10">
  <div class="w-5/6 lg:w-3/4 relative swiper swiper-{{- product.id -}}">
    <div class="swiper-wrapper">
      {% for image in product.images %}
      <div class="swiper-slide">
        <img
          src="{{ image.src | img_url: 'master' }}"
          alt="{{ image.alt | escape }}"
          class="swiper-image-{{- image.id -}}"
        />
      </div>
      {% endfor %}
    </div>
    <span
      class="absolute top-0 right-0 w-1/4 h-full mt-0 outline-none shadow-none border-transparent text-gray-400 hover:text-gray-700 transition-colors swiper-button-next swiper-button-next-{{- product.id -}}"
    ></span>
    <span
      class="absolute top-0 left-0 w-1/4 h-full mt-0 outline-none shadow-none border-transparent text-gray-400 hover:text-gray-700 transition-colors swiper-button-prev swiper-button-prev-{{- product.id -}}"
    ></span>
  </div>

  <div class="mx-auto w-5/6 lg:w-3/4 flex flex-col justify-between">
    <h1 class="text-3xl font-semibold">{{ product.title }}</h1>

    <div>
      {{ product.description }}
      {% render 'add-to-cart-form' %}
    </div>
  </div>
</div>

<script>
  new Swiper(".swiper-{{- product.id -}}", {
    slidesPerView: 1,
    centeredSlides: true,
    spaceBetween: 0,
    loop: true,

    breakpoints: {
      600: {
        allowTouchMove: false,
        speed: 0,
        navigation: {
          nextEl: ".swiper-button-next-{{- product.id -}}",
          prevEl: ".swiper-button-prev-{{- product.id -}}",
        },
      },
    },
  });
</script>
